




<h1>Photo</h1>

<h2><%= @photo.title %></h2>

<%= link_to 'Edit a Photo', edit_photo_path, class: 'nav-link' %><br>

<!------>
<%= button_to 'Delete Photo', photo_path, class: 'nav-link', method: :delete%>

