




<h1>Photo</h1>

<h2><%= @photo.title %></h2>

<%= button_to 'Edit a Photo', photo_path, class: 'nav-link' %><br>

<!----
<%= button_to 'Delete Photo', photo_path, class: 'nav-link', method: :delete%>
-->
