// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.bg1{
  
    background: url("https://images.unsplash.com/photo-1516796181074-bf453fbfa3e6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTJ8fGNvbG9yfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    width: 100%;
    height: 100vh;
    background-size: 100%;

}

.bg6{
  
    background: url("https://images.unsplash.com/photo-1562048048-86d659689440?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTQ2fHxjb2xvcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    width: 100%;
    height: 100vh;
    background-size: 100%;

}